

/* hero background image */
.bgimage {
    height:100vh;
    background: url('../assets/portfolioImage3.jpg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.imageAboutPage {
    width: 75%;
    border-radius: 50%;
}
#about{
    background-color:#d0d1cd;
}
#experiencias{
    background-color:#d0d1cd;
}

.experienciasText.card{
    height: 280px;
    cursor: pointer;
}

.experienciasIcon{
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title{
    text-align: center;
}

.card:hover .experienciasIcon{
    color:  #6f474b ;
}

.experienciasText:hover{
    border: 1px solid  #6f474b  ;
}
